@import './assets/scss/var&mixins.scss';

body {
    background-color: #ffffff;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  #pre-loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
  }

*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-style: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.app{
    display: flex;
    background-color: $color-smoke;
}
#side{
    z-index: 1;
    height: 100%;
    position: sticky;
    top: 0;
}
#home{
    width: 100%;
    z-index: 0;
}
//only put global css in here :D
.container{
    padding: 30px 80px 30px 80px;
    width: 100%;
    margin: 0 auto;

    .switches{
        display: flex;
        column-gap: 20px;   
        a{
            border-radius: 100px;
            padding: 8px 35px;
            color: $color-white;
            background-color: $color-blue;
            margin-bottom: 5px;
            text-decoration: none;
        }
        #requestlink{
            margin-top: 50px;
        }
    }
    #personal-req{
        margin-bottom: 7%;
    }
}

.buttons{
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    margin-top: 35px;
    div, a{
        color: $color-white;
        background-color: $color-blue;
        padding: 15px 0;
        text-align: center;
        width: 200px;
        border-radius: 100px;
        font-weight: 600;
        font-size: 14px;

        &:hover{
            background-color: $color-yellow;
        }
    }
}
