@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

.RD-Container{
    padding: 40px 150px;
    margin: 0px 70px;

    padding-bottom: 100px;

    .RD-Btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100px;
        border-radius: 10px;
        font-size: 20px;
        background-color: #699BF7;
        color: #fff;
        transition: all .2s,box-shadow .08s ease-in;
        cursor: pointer;
        font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
        font-size: 100%;
        text-decoration: none;
        
        i{
            margin-left: 10px;
            font-size: 20px;
        }
    }

    #btnBack{
        display: flex;
        width: 7vw;
        background-color: #699BF7;
        color: #fff;
        justify-content: center;
        align-items: center;
        transition: all .2s,box-shadow .08s ease-in;
        i{
            padding-right: 8px;
        }
    }

    #btnAttached{
        width: 200px;
        background-color: transparent;
        border: #fff solid 1px;
    }
    #btnCancel{
        margin-top: 30px;
        width: 200px;
        display: flex;
        float: right;
    }

    // RD Heading
    .RD-Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        
        h3{
            font-family: 'Reem Kufi Ink', sans-serif;
            font-size: 30px;
            font-weight: bolder;
            text-shadow: 0px 5px rgba(0,0,0,0.1);
        }
       
        .RStatus{
            display: flex;
            color: #fff;
            align-items: center;
            background-color: #DA9733;
            padding: 20px 45px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

            .pending{
                margin-right: 10px; 
            }
            p{
                font-weight: bolder;
                font-size: 16px;
            }
        }
    }

    hr{
        margin-bottom: 10px;
    }    

    // RD Content
    .RDC-Header{
        background-color: #294A70;
        padding: 20px 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 15px;
        }
        #Request_Icon{
            font-size: 80px;
            padding-right: 30px;
            text-shadow: 0px 5px rgba(0,0,0,0.1);
        }


        .RDC-Details{
            display: flex;
            flex-direction: row;

            .r_name{
                display: flex;
                align-items: center;

                .r_email{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    p{
                        font-weight: lighter;
                    }
                
                    i{
                        margin: 0px 5px 0px 20px;
                    }
                }
            }
        }
        .r_right{
            text-align: right;
            font-size: 50px;
            p{
                opacity: 0.5;
            }
        }
    }

    .RDC-Body{
        background-color: #EEEEEE;
        padding: 30px 70px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

        .b_title{
            margin-bottom: 10px;
        }     
    }

    .RDA-Header{
        margin-top: 25px;
        background-color: #294A70;
        padding: 20px 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .RDA-Body{
        background-color: #EEEEEE;
        padding: 30px 70px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
}




// Unfinishedz
#RStatus2, #RStatus3{
    display: none;
}



