@import './var&mixins.scss';

.landing_container{
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin: 25px;
    height: 94vh;

    .landing_nav{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 15px;
        padding: 15px 50px;
        align-items: center;
        z-index: 2;
    
        .nav_left{
            display: flex;
            justify-content: start;
            align-items: flex-start;
            
            img{
                align-items: flex-start;
                border-radius: 50%;
                height: 60px;
            }
        }
        .nav_right{
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 15px;
            color: $color-blue;
    
            p, a{
                color: $color-blue;
                transition: .3s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                border-radius: 15px;
                padding: 20px;
                margin: 0px 15px;

                &:hover{
                    color: #fff;
                    background-color: $color-blue;
                }
            }
        }
    }
    
    .landing_content{
        display: flex;
        flex-direction: row;
        font-size: 50px;
        align-items: center;
        background-color: #fff;

        .lc_left{
            margin-top: 50px;
            color: #fff;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 2;
            
            .left-container{
                background-color: $color-blue;
                padding: 45px;
                border-radius: 25px;
                width: 40vw;

                .lc_title
                {
                    font-weight: bolder;
                }
            }

            .lc_design{
                color: $color-yellow;
            }
            .light{
                font-weight: lighter;
                margin-bottom: 30px;
                font-size: 35px;
            }

            .lc_details{
                margin-top: 30px;
                font-size: 18px;
            }

            .btnLanding{
                cursor: pointer;
                margin-top: 40px;
                color: #fff;
                display: flex;
                font-weight: 600;
                justify-content: center;
                align-items: center;
                background-color: #7395d4;
                padding: 15px;
                width: 150px;
                border-radius: 25px;
                font-size: 15px;
                border-style: none;
            }

            .yourReqs{
                justify-content: center;
                align-items: center;
                margin-top: 100px;
                width: 38vw;
                font-size: 10px;

                h2{
                    text-align: center;
                }
                .contact {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: center;
                    align-items: center;

                    .contact-cont{
                        display: grid;
                        grid-template-columns: .5fr 1.5fr;
                        margin: 10px;
                    }
                
                    .contact-icon {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        padding: 30px;
                        font-size: 40px;
                        i{
                            color: $color-blue;
                        }
                    }
                    .contact-info {
                        font-size: 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 10px;
                    }
                }
            }
            }
            

        .lc_right{  

            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            img{
                width: 700px;
                height: 700px;
            }
        }
    }

    // Shape Design
    .shape1, .shape2, .shape3{
        z-index: 1;
        position: absolute;
        width: 100px;
 
    }

    .shape1{
        left: 50px;
        top: 230px;
        
    }

    .shape2{
        left: 250px;
        bottom: 40px;
        width: 200px;

    }

    .shape3{
        right: 150px;
        bottom: 135px;

    }

    .vector{
        transform: translate(-24%, -81%);

    }

}

