@import './var&mixins.scss';

*{
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-login{
    height: 55vh;
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}
.titling{
    display: flex;
    flex-direction: column;

    .texts .bigtext{
        p{
            font-size: 3vw;
            font-weight: 700;
            color: #fff;}
        .saint{
            color: $color-yellow;
        }
    }
    .smalltext p{
        color: white;
        font-size: 1.6vw; 
    }
    
    .biglogo img{
        width: 20vw;    
        font-size: 1.6vw;
        
    }
    
    .biglogo img{
        width: 20vw;

    }
}

.login-wrap{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.logo{
    opacity: 0%;
    display: flex;
    justify-content: center;

    img{
        width: 85px;
    }  
}
.logo img{
    width: 85px;
}

.login-container{
    border-radius: 2em;
    width: 100%;
    height: 100%;   
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    a{
        text-decoration: none;
        text-align: right;
        margin-top: 10px;
        color: #294A70;
        font-size: 11px;
        font-weight: 600;
    }

    label{
        margin:0 0 10px 12px;
    }
    input{
        border: 0px solid;
        border:  2px rgba(34, 34, 34, 0.308) solid;
        border-radius: 100px;
        padding: 15px 30px;
        color: rgba(34, 34, 34, 0.596);
        font-size: 14px; 
    }
}
 

.branding{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    h1{
        font-weight: 700;
}
}

.login-button{
    background-color: #294A70;
    color: white;
    border-radius: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: none;
    &:hover{
        background-color: #E4A951;
        cursor: pointer;
    }
}


@media only screen and (max-width: 1200px) {
    .titling{
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .main-login{
        height: 100vh;
    }
    
    .logo{
        margin: 0;
        margin-top: 30px;
        justify-content: center;
        opacity: 100%;
    }
  }

@media only screen and (min-width: 700px) {
    .main-login{  
        margin-top: 150px;
    }
    .login-container{
        height: 600px;
        border-radius: 2em;
        width: 600px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }
}