@import 'var&mixins.scss';
#sidebar {
    width: 145px;
    height: 100vh;
    background-color: $color-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    transition: .5s;

    .close{
      transition: .5s;
      box-shadow: 1px 1px 20px $color-blue;
      display: flex;
      position: absolute;
      bottom: 40px;
      
      text-align: center;
      background-color: $color-white;
      border-radius: 100px;
      padding: 8px;
      cursor: pointer;
      
      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }

      svg{
        fill: $color-blue;
        height: 20px;
        width: 20px;
      }
    }

    #logo {
      margin-top: 35px;
      width: 75px;
    }
  }

  #open{
    transition: .3s;
    opacity: 0%;
    margin-top: 35px;
    position: absolute;
    left: 33px;
    display: flex;
    background-color: $color-blue;
    padding: 20px;
    border-radius: 100px;
    z-index: 1;
    svg{
      fill: $color-white;
      height: 40px;
      width: 40px;
    }
  }

  .links-cont {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .links-cont .links, .open{
    margin: 15px 0;
    padding: 12px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .icons {
      width: 30px;
      height: 30px;
      fill: $color-white;
    }

    &:hover {
      background-color: $color-white;
      transition: 0.35s;
    }

    &:hover > .icons {
      fill: $color-blue;
      transition: 0.35s;
    }
  }

  // some responsiveness
  @media only screen and (max-width: 700px) {
    #sidebar{
      margin-left: -200px;
      // .close{
      //   margin-left: -200px;
      // }
    }
    #open{
      opacity: 100%;
      z-index: 2;
    }
    
  }

  @media only screen and (min-width: 700px) {
    
  }

