@import './var&mixins.scss';

.container{
    
    .title{
        width: 100%;
        margin: 0 auto;
        display: flex;
        font-size: 40px;
        font-weight: 700;
        color: $color-blue;

        .yellow{
            color: $color-yellow;
            margin-left: 15px;
        }
    }

    .search{
        display: flex;
        justify-content: end;
        padding: 10px 0 20px 0;
        input{
            padding: 17px 20px;
            width: 350px;
            border-radius: 100px;
            font-size: 14px;
            font-weight: 600;
            background-color: $color-white;
            color: $color-smoke;
            border: none;
            box-shadow: 0 1px 20px rgba(0, 0, 0, 0.116)
        }
    }

    .table-heading, 
    .table-cell{
        width: 100%;
        margin: 0 auto;
    }
}